name: ⚙️ Sandbox
on:
  push: 
  workflow_dispatch:

permissions:
  id-token: write
  
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: qoomon/sandbox/.guthub/actions/sandbox@main
      
